* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eb4034;
}

.title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.menu {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.menu li {
  list-style: none;
}

.menu-list a {
  display: block;
  background-color: beige;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #4a4646;
  font-weight: bold;
}
